<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsege.mapper.sys.DictMapper">
    <select id="selectDictList" resultType="Dictionary">
        select * from Dictionary ORDER BY dict_value
    </select>
    <select id="getDictChild" resultType="DictionaryData" parameterType="Long">
        select * from dictionary_data where dict_value=#{dictValue} AND  states=0
    </select>
    <select id="getDictChildTotal" parameterType="Long" resultType="Long">
        SELECT count(*)
        FROM dictionary_data where dict_value=#{dictValue} AND  states=0
    </select>
    <select id="getDictTotal" parameterType="Long" resultType="Long">
        SELECT count(*)
        FROM dictionary where dict_value!=0
    </select>
    <insert id="insertDict" parameterType="DictionaryData">
         INSERT  into  dictionary_data(dict_value,dict_data_name,dict_data_value,isfixed,states)VALUES(#{dictValue},#{dictDataName},#{dictDataValue},#{isFixed},0)
    </insert>
    <insert id="insertTopDict" parameterType="Dictionary">
        INSERT  into Dictionary(dict_value,dict_name)VALUES(#{DictValue},#{DictName})
    </insert>
    <delete id="deldict" parameterType="Long">
        delete  from dictionary_data where id=#{id}
    </delete>
    <delete id="delTopDict" parameterType="Long">
        DELETE  from Dictionary where dict_value=#{dictValue}
    </delete>
    <update id="updateDictStates" parameterType="Long">
        UPDATE  dictionary_data set states=1 where id=#{id}
    </update>
    <select id="findMax" resultType="Long">
        select MAX(dict_value)  from dictionary
    </select>
</mapper>