<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsege.mapper.sys.MenuMapper">
    <select id="getRoleHasMenu" parameterType="Long" resultType="Menu">
       select * from (
         -- 查询所有有权限的顶级菜单
         SELECT *
                    FROM menu
                    WHERE m_id IN
                        ( SELECT m_id
                         FROM r_m_relate
                         WHERE r_id = #{roleId} ) and m_p_id = 1
            union all
          -- 查询所有有权限的二级菜单的上级菜单
         select * from menu where m_id in (
            SELECT m_p_id
                    FROM menu
                    WHERE m_id IN
                        ( SELECT m_id
                         FROM r_m_relate
                         WHERE r_id = #{roleId} ) and m_p_id != 1
            )
            union all
            -- 查询所有有权限的二级菜单
            SELECT *
                    FROM menu
                    WHERE m_id IN
                        ( SELECT m_id
                         FROM r_m_relate
                         WHERE r_id = #{roleId} ) and m_p_id != 1
        ) A where 1=1 order by m_show_id,m_id
    </select>
    <select id="getMenuList" resultType="Menu">
        SELECT *
        FROM menu order by m_show_id
    </select>
    <select id="getTopMenuList" resultType="Menu">
        SELECT *
        FROM menu where m_p_id = 1 or m_id = 1 order by m_show_id
    </select>

    <select id="getTopMenuListNotRoot" resultType="Menu">
        SELECT *
        FROM menu where m_p_id = 1 order by m_show_id
    </select>

    <select id="getMenuChildById" parameterType="Long" resultType="Menu">
        SELECT *
        FROM menu where m_p_id = #{mId} and m_id != 1
        order by m_show_id
    </select>

    <select id="getMenuChildTotal" parameterType="Long" resultType="Long">
        SELECT count(*)
        FROM menu where m_p_id = #{mId} and m_id != 1
        order by m_show_id
    </select>

    <select id="getMenuChildByIdNotSelf" parameterType="Long" resultType="Menu">
        SELECT *
        FROM menu where  m_p_id = #{mId} and m_id != 1
        order by m_show_id
    </select>

    <insert id="addMenu" parameterType="Menu" keyProperty="mId">
        insert into menu (m_name,m_url,m_p_id,m_tag,m_show_id) values (#{mName},#{mUrl},#{mPId},#{mTag},#{mShowId})
    </insert>

    <delete id="removeMenu" parameterType="Long">
        delete from menu where m_id = #{mId}
    </delete>

    <update id="editMenu" parameterType="Menu">
        update menu SET m_name = #{mName},
        m_url = #{mUrl},
        m_p_id = #{mPId},
        m_tag = #{mTag},
        m_show_id = #{mShowId} where m_id = #{mId}
    </update>

    <select id="getRoleByMid" parameterType="Long" resultType="Role">
        select r.* from (select * from r_m_relate where m_id = #{mId}) tmp
             left join role r on tmp.r_id = r.r_id
    </select>

</mapper>
