<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsege.mapper.sys.RoleMapper">

    <select id="getUserRoles" parameterType="Long" resultType="Role">
        select *
        from role
        where r_id in
            ( select r_id
             from u_r_relate
             where u_id = #{uId} )
    </select>

    <select id="getRoleList" resultType="Role">
        select * from role
    </select>

    <select id="getRoleTotal" resultType="Long">
        select count(*) from role
    </select>

    <insert id="addRole" parameterType="Role" keyProperty="rId">
        insert into role (r_name) values (#{rName})
    </insert>

    <delete id="removeRole" parameterType="Long">
        DELETE from role where r_id = #{rId}
    </delete>

    <select id="getUserByRoleId" parameterType="Long" resultType="Long">
        select count(u.u_id) from (select * from u_r_relate where r_id = #{rId}) urr
        left join user u
        on urr.u_id = u.u_id
    </select>

    <update id="editRole" parameterType="Role">
        update role set r_name = #{rName} where r_id = #{rId}
    </update>

    <select id="associatedMenu" parameterType="Long" resultType="Menu">
        SELECT m.*,if(tmp.m_id is null,0,1) is_has
        FROM menu m
        left join (
        SELECT m_id
             FROM r_m_relate
             WHERE r_id = #{rId}
        ) tmp on tmp.m_id = m.m_id
        where m.m_id != 1 order by m_show_id
    </select>

    <delete id="associatedMenuDel" parameterType="Long">
        DELETE from r_m_relate where r_id = #{rId}
    </delete>

    <insert id="associatedMenuSave" parameterType="List">
        INSERT INTO r_m_relate (r_id, m_id) VALUES
        <foreach collection="list" index="index" item="item"
                 separator=",">
            (#{item.rId}, #{item.mId})
        </foreach>
    </insert>

    <select id="getMenuByRId" parameterType="Long" resultType="Menu">
        select m.* from (select * from r_m_relate where r_id = #{rId}) tmp
             left join menu m on tmp.m_id = m.m_id
    </select>

</mapper>
