<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsege.mapper.sys.RoleMapper">

    <select id="getUserRoles" parameterType="Long" resultType="Role">
        select *
        from role
        where r_id in
            ( select r_id
             from u_r_relate
             where u_id = #{uId} )
    </select>

</mapper>
